In [1]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py): started
  Building wheel for apyori (setup.py): finished with status 'done'
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5979 sha256=cadc3ba164a1e9e2bfee9a408bf7aec481f537a408f7a0c37ec20d682f4c81db
  Stored in directory: c:\users\reena\appdata\local\pip\cache\wheels\1b\02\6c\a45230be8603bd95c0a51cd2b289aefdd860c1a100eab73661
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [2]:
import pandas as pd
import numpy as np
from apyori import apriori

In [3]:
df
=pd.read_csv("./stor.csv", header=None)

SyntaxError: invalid syntax (<ipython-input-3-f77a08d11f7e>, line 2)

In [4]:
df=pd.read_csv("./store.csv", header=None)

FileNotFoundError: [Errno 2] No such file or directory: './store.csv'

In [5]:
df=pd.read_csv("./C:\Users\Reena\Desktop\dmdw\store", header=None)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-5-41ac6d203cdb>, line 1)

In [6]:
df=pd.read_csv("./C:\Users\Reena\Desktop\dmdw\store", header=None)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 4-5: truncated \UXXXXXXXX escape (<ipython-input-6-1845564bcae8>, line 1)

In [7]:
df=pd.read_csv(r"C:\Users\Reena\Desktop\dmdw\store.csv", header=None)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-7-6e471f4257d8>, line 1)

In [8]:
df=pd.read_csv(r"C:\Users\Reena\Desktop\dmdw\store.csv", header=None)

In [9]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
items=[]
for i in range(0,7501):
    items.append([str(df.values[i,j])  for j in range (0,20)])
final_rule= apriori(items,min_support=0.5, min_confidence=0.8, min_lemgth=2)
final_result=list(final_rule)

In [11]:
final_result

[RelationRecord(items=frozenset({'nan'}), support=0.9998666844420744, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan'}), confidence=0.9998666844420744, lift=1.0)])]

In [12]:
!pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.18.0-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: setuptools in c:\users\reena\anaconda3\lib\site-packages (from mlxtend) (50.3.1.post20201107)
Requirement already satisfied: joblib>=0.13.2 in c:\users\reena\anaconda3\lib\site-packages (from mlxtend) (0.17.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\reena\anaconda3\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: numpy>=1.16.2 in c:\users\reena\anaconda3\lib\site-packages (from mlxtend) (1.19.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\reena\anaconda3\lib\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\reena\anaconda3\lib\site-packages (from mlxtend) (3.3.1)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\reena\anaconda3\lib\site-packages (from mlxtend) (0.23.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\reena\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\reena\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\reena\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\reena\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\reena\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\reena\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\reena\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2020.6.20)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\reena\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: six>=1.5 in c:\users\reena\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->mlxtend) (1.15.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.18.0

In [13]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

from mlxtend.preprocessing import TransactionEncoder

In [14]:
trans=[]
for i in range(0,7501):
    trans.append([str(df.values[i,j]) for j in range (0,20)])
    
trans=np.array(trans)

print(trans.shape)

(7501, 20)

In [15]:
t=TransactionEncoder()
df=t.fit_transform(trans)
df=pd.DataFrame(df,columns=t.columns_, dtype=int)

df.shape

(7501, 121)

In [16]:
df.drop('nan', axis=1,inplace=True)

In [17]:
'nan' in data.columns

NameError: name 'data' is not defined

In [18]:
'nan' in store.columns

NameError: name 'store' is not defined

In [19]:
df.head()

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,0,1,1,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [20]:
freq_items=apriori(df, min_support=0.5, min_confidence= 0.7, min_length=2, use_colnames= True )

TypeError: apriori() got an unexpected keyword argument 'min_confidence'

In [21]:
items=[]
for i in range(0,7501):
    items.append([str(df.values[i,j]) for j in range(0,20)])

In [22]:
freq_items

NameError: name 'freq_items' is not defined

In [23]:
result=apriori(df,min_support=0.5, use_colnames=True)

In [24]:
result

Empty DataFrame
Columns: [support, itemsets]
Index: []

In [25]:
result=apriori(df,min_support=0.05, use_colnames=True)

In [26]:
result

     support                    itemsets
0   0.087188                   (burgers)
1   0.081056                      (cake)
2   0.059992                   (chicken)
3   0.163845                 (chocolate)
4   0.080389                   (cookies)
5   0.051060               (cooking oil)
6   0.179709                      (eggs)
7   0.079323                  (escalope)
8   0.170911              (french fries)
9   0.063325           (frozen smoothie)
10  0.095321         (frozen vegetables)
11  0.052393             (grated cheese)
12  0.132116                 (green tea)
13  0.098254               (ground beef)
14  0.076523            (low fat yogurt)
15  0.129583                      (milk)
16  0.238368             (mineral water)
17  0.065858                 (olive oil)
18  0.095054                  (pancakes)
19  0.071457                    (shrimp)
20  0.050527                      (soup)
21  0.174110                 (spaghetti)
22  0.068391                  (tomatoes)
23  0.062525                    (turkey)
24  0.058526          (whole wheat rice)
25  0.052660  (chocolate, mineral water)
26  0.050927       (eggs, mineral water)
27  0.059725  (spaghetti, mineral water)

In [27]:
freq_items=apriori(df, min_support=0.5, min_length=2, use_colnames= True )

TypeError: apriori() got an unexpected keyword argument 'min_length'

In [28]:
from efficient_apriori import apriori

ModuleNotFoundError: No module named 'efficient_apriori'